<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>

        <p><%=cake%></p>

        <form action="/edit/<%=cakeid%>" method="POST">
            <input type="hidden" name="_method" value="PUT"/>
            Change Name: <input type="text" name="cakename">
            <input type="submit"></input>
        </form>
        
    </body>
</html>