<!DOCTYPE html>
<html>
<head>
    <title>Cakes</title>
</head>
<body>
  <ul>
    <% @cakes.each do |cake| %>
      <a href="/show/<%=cake.id%>"><%= cake.cake_name %><br/></a>
    <% end %> 
  </ul>
  <br/>
  <form action="/new">
      <input type="submit" value="Create New"/>
  </form>
</body>
</html>