<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <form method="POST" action="/new">
            Cake Name: <input type="text" name="cakename">
            <input type="submit"></input>
        </form>
    </body>
</html>