<!DOCTYPE html>
<html>
<head>
    <title>New Cake</title>
</head>
<body>
    <form method="POST" action="/new">
        <p>Cake Name: <input type="text" name="name" /></p>
        <input type="submit"/>
    </form>
</body>
</html>