<!DOCTYPE html>
<html>
<head>
    <title>Show Cake</title>
</head>
<body>
    <p><%=@cake.cake_name%></p>
    <form action="/show/<%=@cake.id%>" method="POST">
        <input type="hidden" name="_method" value="DELETE"/>
        <input type="submit" value="delete"/>
    </form>
</body>
</html>